<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4" id="helloWorld">Hello, Guest!</h1>
        <p class="lead">Welcome to my simple blog app. You may create a new blog entry using the 'Create New Article' button on the navigation bar.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up!</a>
        </p>
    </div>
</div>
