<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4 text-dark" id="helloWorld">Hello, Guest!</h1>
        <p class="lead text-dark">Welcome to my simple blog app. Click the 'Create New Article' button to begin.</p>
        <p class="lead text-dark">Don't forget to come back for more features to be added soon!</p>
        <p class="lead">
            <%= link_to "Create New Article", new_article_path, class: "btn btn-primary btn-lg" %>
        </p>
    </div>
</div>
