<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <p class="text-dark mb-3" id="helloGuest">Hello, Guest!</p>
        <h1 class="lead text-dark display-4 mb-4">Welcome to my simple blog app.</h1>
        <p class="text-muted">Click the 'Create New Post' button to begin.</p>
        <p class="lead">
            <%= link_to "Create New Post", new_article_path, class: "btn btn-primary btn-lg" %>
        </p>
    </div>
</div>
