/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#navBar {
  background-color: black !important;
  padding: 0 1.5rem;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white;
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: rgb(223, 223, 223);
  text-decoration: none;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  padding: 2rem 0;
  /* height: 425px; */
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(243, 243, 243);
}

#sticky-footer {
  flex-shrink: none;
}

#authorItalic {
  font-style: italic;
}

.card-title a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

#body {
  background-color: rgb(243, 243, 243);
}
