<footer id="sticky-footer" class="py-2 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Elijah Arcedera", "https://github.com/elijaharc", class: "text-white" %></small>
    </div>
</footer>